* {
    border: 1px dashed red;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: bolder;
    font-size: 28pt;
}

h3 {
    font-weight: bolder;
    font-size: 24pt;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
}

.btn {
    background: transparent;
    font-size: 12pt;
    text-transform: uppercase;
    padding: 16px 32px;
    border: 2px solid yellow;
    border-radius: 4px;
    font-weight: bold;
}

.skill {
    margin: 24px;
}

.introduction {
    position: relative;
    background-image: url("cover.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #eee;
    text-align: center;
}

.introduction .logo {
    margin-top: 64px;
    height: 156px;
    width: auto;
}

.introduction h1 {
    font-size: 38pt;
    margin-top: 96px;
    font-weight: bold;
}

.introduction .btn {
    color: #eee;
}

.introduction .see-more {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}

.introduction .see-more img {
    width: 24px;
}

.expertise .row {
    display: flex;
}

.expertise .skill {
    flex: 1;
}

.skill img {
    margin-top: 64px;
    height: 156px;
    width: auto;
}

.projects {
    background-color: #eeeeee;
}

.project-item {
    margin: 48px 0px;
    background: white;
    display: flex;
    max-height: 540px;
    border-radius: 4px;
    box-shadow: 0 4px 16px grey;
    border: none;
}

.project-item img {
    flex: 1;
}

.project-info {
    padding: 24px;
    text-align: left;
    position: relative;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.flex-container li {
    width: auto;
    padding: 8px;
    margin: 8px;
    border: 2px red solid;
    border-radius: 4px;
}

.project-buttons {
    position: absolute;
    bottom: 32px;
}

.project-buttons .btn {
    margin-right: 16px;
}

.contact {
    background-color: #ffda5a;
    color: #232323;
    padding: 64px 0;
}

.contact p {
    font-size: 18px;
}

.contact .btn {
    margin: 24px;
    border: 2px solid #232323;
    color: #232323;
}

.contact .btn:hover {
    margin: 24px;
    background-color: #232323;
    color: #ffda5a;
}
