@charset "UTF-8";
.site-bg {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }

h1 {
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase; }

h2 {
  color: #006337;
  text-transform: capitalize;
  margin: 16px 0 8px; }

p {
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  margin: 8px 0; }

ul {
  list-style: circle;
  margin: 8px 0;
  padding-left: 8px;
  line-height: 28px;
  font-weight: 450; }

#intro {
  height: 100vh;
  background-image: url("../images/intro_bg.jpg");
  display: flex;
  flex-direction: column; }
  #intro nav {
    background: #006337;
    opacity: 0.85;
    padding: 8px; }
    #intro nav .container {
      color: #eeeeee;
      display: flex;
      align-items: center; }
      #intro nav .container img {
        height: 56px; }
      #intro nav .container .nav-links {
        margin-left: auto; }
        #intro nav .container .nav-links ul {
          list-style-type: none;
          padding: 0;
          margin: 0; }
          #intro nav .container .nav-links ul li {
            display: inline; }
            #intro nav .container .nav-links ul li a {
              color: #fff;
              text-decoration: none; }
        #intro nav .container .nav-links .nav-pages {
          padding: 16px 0 8px; }
          #intro nav .container .nav-links .nav-pages li {
            margin-left: 16px;
            font-size: 18px; }
        #intro nav .container .nav-links .nav-social-links {
          text-align: right; }
          #intro nav .container .nav-links .nav-social-links li {
            display: inline-block;
            margin-left: 16px;
            min-width: 28px;
            min-height: 28px;
            border: 1px solid white;
            border-radius: 50%; }
            #intro nav .container .nav-links .nav-social-links li .fa-instagram,
            #intro nav .container .nav-links .nav-social-links li .fa-twitter {
              display: block;
              color: white;
              margin: 8px;
              font-size: 12px; }
            #intro nav .container .nav-links .nav-social-links li .fa-facebook-f {
              display: block;
              color: white;
              margin: 8px 8px;
              font-size: 12px; }
  #intro .blank {
    flex: 1; }
  #intro .welcome {
    background: white;
    opacity: 0.85;
    text-align: center;
    padding: 32px 0 64px; }
    #intro .welcome h1 {
      color: #006337;
      font-size: 80px;
      font-weight: 100; }
    #intro .welcome p {
      font-size: 22px;
      text-align: center;
      line-height: 36px; }
    #intro .welcome .scroll {
      cursor: pointer; }

#about-kenya {
  min-height: 100vh;
  background-image: url("../images/about_kenya.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 64px 0;
  align-items: center;
  justify-content: center; }
  #about-kenya #previous {
    margin-left: 32px; }
  #about-kenya #next {
    margin-right: 32px; }
  #about-kenya #previous, #about-kenya #next {
    color: white;
    display: flex;
    align-content: center;
    justify-content: center; }
    #about-kenya #previous span, #about-kenya #next span {
      font-size: 64px;
      width: 96px;
      height: 96px;
      text-align: center; }
      #about-kenya #previous span:hover, #about-kenya #next span:hover {
        font-size: 72px; }
  #about-kenya .container {
    min-height: 540px;
    padding: 64px 32px 32px;
    background: #fff;
    opacity: 0.85;
    display: flex;
    border-radius: 8px; }
    #about-kenya .container img {
      flex: 1;
      width: 200px;
      height: 450px;
      margin: 0 32px; }
    #about-kenya .container .about {
      flex: 3; }
      #about-kenya .container .about .about-text {
        padding: 16px;
        width: 100%;
        flex: 3;
        display: none; }
        #about-kenya .container .about .about-text h1 {
          color: #3a7e5b;
          text-transform: uppercase;
          margin-bottom: 16px; }
        #about-kenya .container .about .about-text p {
          font-size: 20px; }
      #about-kenya .container .about .shown {
        display: block; }

#map-section {
  padding: 24px 32px;
  background-image: url("../images/map_bg.png");
  display: flex;
  flex-direction: column;
  text-align: center; }
  #map-section .title {
    display: flex;
    align-items: center;
    justify-content: center; }
    #map-section .title img {
      margin-right: 16px;
      width: 64px;
      height: 64px; }
    #map-section .title h1 {
      margin: 16px;
      font-size: 64px;
      color: #006337;
      text-transform: uppercase; }
  #map-section .info {
    display: flex;
    height: 100%;
    padding-top: 32px; }
    #map-section .info #map {
      width: 65%;
      height: auto;
      margin-right: 16px;
      border: 3px solid #0a5335;
      border-radius: 16px; }
    #map-section .info .location-info {
      width: 35%;
      padding: 0 8px;
      overflow: auto;
      text-align: left; }
      #map-section .info .location-info h2 {
        margin-bottom: 18px;
        flex: 1;
        font-weight: bold;
        font-size: 36px;
        color: #006337; }
      #map-section .info .location-info img {
        width: 100%;
        height: 30vh;
        margin-bottom: 12px;
        border-radius: 4px; }
      #map-section .info .location-info p {
        margin-top: 8px;
        text-align: justify;
        line-height: 24px;
        font-size: 18px; }
  #map-section .quotation {
    padding: 64px; }
    #map-section .quotation h1 {
      font-size: 48px;
      color: #0a5335; }
    #map-section .quotation button {
      margin-top: 16px;
      background: #006337; }
  #map-section .modal {
    text-align: left; }
    #map-section .modal .modal-header {
      display: flex; }
      #map-section .modal .modal-header h5 {
        flex: 1;
        font-size: 30px;
        color: #006337; }
    #map-section .modal .modal-footer .btn-lg {
      background: #006337;
      color: #eeeeee; }

#about-kato {
  height: 100%;
  background-image: url("../images/about_kato.png");
  color: white;
  text-align: center;
  padding: 32px 64px; }
  #about-kato .container .title {
    margin-top: 16px; }
    #about-kato .container .title img {
      width: auto;
      height: 64px;
      margin-right: 16px; }
    #about-kato .container .title h1 {
      font-size: 64px;
      color: white;
      text-transform: uppercase; }
  #about-kato .container p {
    text-align: justify;
    margin-top: 16px;
    font-size: 20px; }
    #about-kato .container p a {
      color: #fff;
      font-weight: bold; }
  #about-kato .container .row {
    border-radius: 8px;
    padding: 36px;
    background: white;
    color: black;
    overflow: hidden;
    margin-top: 36px; }
    #about-kato .container .row h4 {
      font-size: 30px;
      text-align: left; }
    #about-kato .container .row p {
      text-align: justify;
      margin-top: 16px;
      line-height: 24px; }
    #about-kato .container .row .services {
      flex: 2; }
      #about-kato .container .row .services ul {
        margin-top: 8px;
        list-style: none;
        line-height: 36px;
        column-count: 2;
        padding: 16px 36px; }
        #about-kato .container .row .services ul li {
          text-align: left;
          font-size: 18px; }
          #about-kato .container .row .services ul li:before {
            content: "✓   "; }
    #about-kato .container .row .caution {
      display: flex;
      margin-top: 16px;
      padding: 8px; }
      #about-kato .container .row .caution h4 {
        font-size: 40px; }
      #about-kato .container .row .caution p {
        margin: 0;
        text-align: justify;
        margin-left: 36px;
        font-size: 14px;
        font-weight: bold; }
        #about-kato .container .row .caution p a {
          color: blue; }
    #about-kato .container .row .read-more {
      padding: 26px; }
      #about-kato .container .row .read-more a {
        background: #006337;
        padding: 16px;
        text-decoration: none;
        color: #fff;
        border-radius: 8px; }
        #about-kato .container .row .read-more a:hover {
          padding: 18px; }
    #about-kato .container .row .divider {
      border: 1px solid black;
      margin-top: 16px; }

#committee {
  text-align: center;
  background-image: url("../images/giraffe.png"); }
  #committee h1 {
    text-transform: uppercase;
    color: #044100;
    font-size: 84px;
    margin: 32px 0; }
  #committee .members {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; }
    #committee .members .member {
      padding: 0 8px;
      width: 25%; }
      @media only screen and (max-width: 768px) {
        #committee .members .member {
          width: 100%; } }
      @media only screen and (min-width: 768px) and (max-width: 992px) {
        #committee .members .member {
          width: 50%; } }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        #committee .members .member {
          width: 33.3%; } }
      #committee .members .member img {
        height: 164px;
        width: 164px;
        border: 1px solid #aaa;
        border-radius: 50%; }
      #committee .members .member .member-info {
        margin: 16px 0 32px;
        background: #006337;
        color: white;
        padding: 8px;
        border-radius: 6px; }
        #committee .members .member .member-info h4 {
          margin: 8px 0; }
        #committee .members .member .member-info span {
          font-size: 12px;
          display: block; }

#corporate {
  padding: 32px 0 128px;
  text-align: center; }
  #corporate .container img {
    height: 126px; }
  #corporate .container h1 {
    margin: 32px 0 128px;
    font-size: 64px;
    color: #006337;
    text-transform: uppercase; }

.slick-slide {
  margin: 0px 20px; }
  .slick-slide img {
    width: 100%; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }
  .slick-track:before {
    display: table;
    content: ''; }
  .slick-track:after {
    display: table;
    content: '';
    clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

#contact-us {
  background-image: url("../images/phone.jpg");
  padding: 32px 0;
  text-align: center; }
  #contact-us .info {
    background: #e7ebee;
    opacity: 0.85;
    padding: 16px 0; }
  #contact-us h1 {
    margin: 16px;
    font-size: 64px;
    color: #006337;
    text-transform: uppercase; }
  #contact-us p {
    font-size: 22px;
    text-align: center;
    line-height: 28px; }
  #contact-us .address {
    margin-top: 36px; }

footer {
  background: #042710;
  padding: 32px;
  text-align: center;
  color: #e7ebee; }
  footer .info {
    display: flex;
    padding: 32px 32px;
    text-align: left; }
    footer .info img {
      height: 108px;
      align-self: center; }
    footer .info .links {
      flex: 1;
      color: white;
      margin: 64px 0 32px;
      display: flex;
      justify-content: center; }
      footer .info .links ul {
        padding: 0 80px;
        list-style: none;
        line-height: 24px; }
        footer .info .links ul h3 {
          margin-bottom: 16px;
          text-decoration: underline; }
        footer .info .links ul a {
          color: #e7ebee;
          text-decoration: none; }

#complaints {
  margin: 32px;
  background: grey; }
  #complaints .container h1 {
    color: #006337;
    text-transform: uppercase; }
  #complaints .container p {
    margin-top: 16px; }
  #complaints .container .content {
    display: flex;
    align-items: center; }
    #complaints .container .content .complaint-format {
      margin-top: 32px;
      background: #eeeeee;
      padding: 16px 32px 32px;
      border-radius: 8px;
      box-shadow: 5px;
      width: 75%; }
      #complaints .container .content .complaint-format .item {
        margin-top: 32px;
        text-align: justify; }
        #complaints .container .content .complaint-format .item span {
          display: block;
          margin-top: 16px; }
        #complaints .container .content .complaint-format .item ul {
          margin-top: 16px;
          margin-left: 32px; }
          #complaints .container .content .complaint-format .item ul li {
            font-weight: 500; }
  #complaints .container .correspondence {
    margin-top: 32px; }

#consumer-protection {
  background-image: url("../images/cactus.jpg");
  display: flex;
  flex-direction: column; }
  #consumer-protection nav {
    background: #006337;
    height: 80px;
    padding: 8px; }
    #consumer-protection nav .container {
      color: #eeeeee;
      display: flex;
      align-items: center; }
      #consumer-protection nav .container img {
        height: 56px; }
      #consumer-protection nav .container h1 {
        flex: 1;
        margin-left: 32px; }
      #consumer-protection nav .container a {
        display: inline-block;
        color: #eeeeee;
        text-decoration: none; }
  #consumer-protection .content {
    flex: 1;
    padding: 16px 0; }
    #consumer-protection .content .container {
      background: #fff;
      opacity: 0.95;
      border-radius: 8px;
      padding: 32px 64px; }
      #consumer-protection .content .container div {
        margin: 50px 0 16px; }
        #consumer-protection .content .container div ul {
          margin-left: 32px; }

#responsible-tourism {
  background-image: url("../images/map_bg.png");
  height: 100vh;
  display: flex;
  flex-direction: column; }
  #responsible-tourism nav {
    background: #006337;
    height: 80px;
    padding: 8px; }
    #responsible-tourism nav .container {
      color: #eeeeee;
      display: flex;
      align-items: center; }
      #responsible-tourism nav .container img {
        height: 56px; }
      #responsible-tourism nav .container h1 {
        flex: 1;
        margin-left: 32px; }
      #responsible-tourism nav .container a {
        display: inline-block;
        color: #eeeeee;
        text-decoration: none; }
  #responsible-tourism .content {
    flex: 1;
    padding: 72px 0; }
    #responsible-tourism .content .container {
      background: #fff;
      border-radius: 8px;
      padding: 32px 64px; }
      #responsible-tourism .content .container p {
        margin-top: 16px; }
      #responsible-tourism .content .container ul {
        margin-left: 32px; }
      #responsible-tourism .content .container .additional {
        margin-top: 16px; }
        #responsible-tourism .content .container .additional li a {
          color: #006337; }

#faqs {
  background-image: url("../images/cactus.jpg");
  display: flex;
  flex-direction: column; }
  #faqs nav {
    background: #006337;
    height: 80px;
    padding: 8px; }
    #faqs nav .container {
      color: #eeeeee;
      display: flex;
      align-items: center; }
      #faqs nav .container img {
        height: 56px; }
      #faqs nav .container h1 {
        flex: 1;
        margin-left: 32px; }
      #faqs nav .container a {
        display: inline-block;
        color: #eeeeee;
        text-decoration: none; }
  #faqs .content {
    flex: 1;
    padding: 16px 0; }
    #faqs .content .container {
      background: #fff;
      opacity: 0.95;
      border-radius: 8px;
      padding: 32px 64px;
      text-align: justify;
      line-height: 28px; }
      #faqs .content .container h2 {
        margin: 32px 0 8px; }
      #faqs .content .container ul {
        margin-left: 16px; }

.arrows {
  width: 60px;
  height: 36px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px; }
  .arrows path {
    stroke: #006337;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; }
    .arrows path .a1 {
      animation-delay: -3.5s;
      -webkit-animation-delay: -3.5s;
      /* Safari 和 Chrome */ }
    .arrows path .a2 {
      animation-delay: -1.75s;
      -webkit-animation-delay: -1.75s;
      /* Safari 和 Chrome */ }
    .arrows path .a3 {
      animation-delay: 0s;
      -webkit-animation-delay: 0s;
      /* Safari 和 Chrome */ }

@keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

body, html {
  font-family: 'Roboto', sans-serif;
  overflow: auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1170px; } }
